{layout name="public/admin_layout" /}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">{$title}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{:url('/dashboard')}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{$title}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr class="text-center">
                                        <th>No.</th>
                                        <th>User Name</th>
                                        <th>Photo Number</th>
                                        <th>Create Time</th>
                                        <th>Update Time</th>
                                        <th>Administrator</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="list_users" id="vo" key="k"}
                                    <tr class="text-center">
                                        <td>#{$k|format='%02d'}</td>
                                        <td class="text-left">{$vo.username}</td>
                                        <td class="text-left">
                                            <h2 class="table-avatar">
                                                {$vo.nickname}
                                            </h2>
                                        </td>
                                        <td>{$vo.create_time}</td>
                                        <td>{$vo.update_time}</td>
                                        <td>
                                            {if $vo.is_admin}
                                            <span class="badge badge-pill bg-success inv-badge">Administrator</span>
                                            {else}
                                            -
                                            {/if}
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">

                                                <a data-toggle="modal" href="#edit_invoice_report"
                                                    class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-sm bg-danger-light" data-toggle="modal"
                                                    href="#delete_modal">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>