<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>E-commerce {$title}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="__IMG__/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="__ADMIN_CSS__/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="__ADMIN_CSS__/feathericon.min.css">

    <link rel="stylesheet" href="__ADMIN_PLUGINS__/morris/morris.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="__ADMIN_PLUGINS__/datatables/datatables.min.css">

    <link rel="stylesheet" href="__ADMIN_CSS__/layer.css">

    <!-- layui.layedit CSS -->
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__ADMIN_CSS__/style.css">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="{:url('/')}" class="logo">
                    <i class="fa fa-grav"></i>
                    <strong>E-commerce</strong>
                </a>
                <a href="{:url('/')}" class="logo logo-small">
                    <i class="fa fa-grav"></i>
                    <strong>E-commerce</strong>
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->

            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="__ADMIN_IMG__/profiles/avatar-12.jpg"
                                width="31" alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="__ADMIN_IMG__/profiles/avatar-12.jpg" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>{:session('nickname')}</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="{:url('/dashboard/profile')}">My Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="{:url('/logout')}">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> Main</span>
                        </li>
                        <li>
                            <a href="{:url('/dashboard')}"><span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{:url('/dashboard/goods')}"><span>Goods</span></a>
                        </li>
                        <li>
                            <a href="{:url('/dashboard/user')}"><span>Users</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Categories</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Settings</span></a>
                        </li>
                        <li>
                            <a href="{:url('/logout')}"><span>Quit</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        {__CONTENT__}
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="__JS__/jquery-3.5.1.min.js"></script>

    <!--[if lt IE 9]>
			<script src="__ADMIN_JS__/html5shiv.min.js"></script>
			<script src="__ADMIN_JS__/respond.min.js"></script>
		<![endif]-->

    <!-- Bootstrap Core JS -->
    <script src="__ADMIN_JS__/popper.min.js"></script>
    <script src="__ADMIN_JS__/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="__ADMIN_PLUGINS__/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="__ADMIN_PLUGINS__/raphael/raphael.min.js"></script>
    <script src="__ADMIN_PLUGINS__/morris/morris.min.js"></script>
    <script src="__ADMIN_JS__/chart.morris.js"></script>

    <!-- Datatables JS -->
    <script src="__ADMIN_PLUGINS__/datatables/jquery.dataTables.min.js"></script>
    <script src="__ADMIN_PLUGINS__/datatables/datatables.min.js"></script>

    <script src="__ADMIN_JS__/layer.js"></script>

    <!-- layui.layedit JS -->
    <script src="__STATIC__/layui/layui.js"></script>

    <!-- Custom JS -->
    <script src="__ADMIN_JS__/script.js"></script>

    <script>
        $(function () {
            // 表单提交，删除
            $('.btn-delete').click(function () {
                return confirm('确定要删除么？');
            });

            // ajax 删除（推荐）
            // $('.btn-delete').click(function () {
            //     var id = $(this).attr('data-goods-id');

            //     layer.confirm('确认要删除吗？', function (index) {

            //         $.ajax({
            //             type: 'DELETE',
            //             url: "{:url('/dashboard/goods')}",
            //             data: {
            //                 'id': id
            //             },
            //             dataType: 'json',
            //             success: function (data) {
            //                 window.location.reload();
            //                 layer.msg('已删除!', {
            //                     icon: 1,
            //                     time: 1000
            //                 });
            //             },
            //             error: function (data) {
            //                 console.log(data.msg);
            //             },
            //         });
            //     });
            // });

        });

        layui.use('layedit', function () {
            var layedit = layui.layedit;
            //上传图片接口：注意：layedit.set 一定要放在 build前面，否则配置全局接口将无效
            layedit.set({
                uploadImage: {
                    url: '{:url("/dashboard/goods/lay_img_upload")}', //接口url
                    type: 'post', //默认post
                }
            });
            //创建编辑器
            layedit.build('goods_description'), {
                width: 600,
                height: 180 //设置编辑器高度
            }; //建立编辑器

        });
    </script>

</body>

</html>