<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>E-commerce {$title}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="__IMG__/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css"> -->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="__ADMIN_CSS__/font-awesome.min.css">
    
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="__ADMIN_CSS__/feathericon.min.css">
    
    <link rel="stylesheet" href="__ADMIN_PLUGINS__/morris/morris.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="__ADMIN_PLUGINS__/datatables/datatables.min.css">
    
    <link rel="stylesheet" href="__ADMIN_CSS__/layer.css">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="__ADMIN_CSS__/style.css">

    <!--[if lt IE 9]>
			<script src="__ADMIN_JS__/html5shiv.min.js"></script>
			<script src="__ADMIN_JS__/respond.min.js"></script>
		<![endif]-->
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="{:url('/')}" class="logo">
                    <i class="fa fa-grav"></i>
                    <strong>E-commerce</strong>
                </a>
                <a href="{:url('/')}" class="logo logo-small">
                    <i class="fa fa-grav"></i>
                    <strong>E-commerce</strong>
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->

            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="__ADMIN_IMG__/profiles/avatar-12.jpg"
                                width="31" alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="__ADMIN_IMG__/profiles/avatar-12.jpg" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>{:session('nickname')}</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="{:url('/dashboard/profile')}">My Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="{:url('/logout')}">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> Main</span>
                        </li>
                        <li>
                            <a href="{:url('/dashboard')}"><span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{:url('/dashboard/goods')}"><span>Goods</span></a>
                        </li>
                        <li>
                            <a href="{:url('/dashboard/user')}"><span>Users</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Categories</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Settings</span></a>
                        </li>
                        <li>
                            <a href="{:url('/logout')}"><span>Quit</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        {__CONTENT__}
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="__ADMIN_JS__/popper.min.js"></script>
    <script src="__ADMIN_JS__/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="__ADMIN_PLUGINS__/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="__ADMIN_PLUGINS__/raphael/raphael.min.js"></script>
    <script src="__ADMIN_PLUGINS__/morris/morris.min.js"></script>
    <script src="__ADMIN_JS__/chart.morris.js"></script>

    <!-- Datatables JS -->
	<script src="__ADMIN_PLUGINS__/datatables/jquery.dataTables.min.js"></script>
    <script src="__ADMIN_PLUGINS__/datatables/datatables.min.js"></script>
    
    <script src="__ADMIN_JS__/layer.js"></script>

    <!-- Custom JS -->
    <script src="__ADMIN_JS__/script.js"></script>

</body>

</html>