
<footer class="page-footer">
    <div class="container">
        <nav class="footer-navigation">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/goods">Goods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/zhangna111/App-binhai-2020" target="_black">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/administrator" target="_black">Administrator</a>
                </li>
            </ul>
        </nav>
        <div class="row footer-bottom">
            <div class="col-md-6">Jin ICP No. 16006370</div>
            <div class="col-md-6 copyright text-md-right">© 2020 Zoey Cheung. All rights reserved.</div>
        </div>
    </div>
</footer>