<!--
 * @Description: 
 * @version: V 1.0
 * @Author: Zoey Cheung
 * @Date: 2020-07-23 12:48:58
 * @LastEditors: Zoey Cheung
 * @LastEditTime: 2020-07-25 18:06:01
--> 

<footer class="page-footer">
    <div class="container">
        <nav class="footer-navigation">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{:url('/')}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('/goods')}">Goods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/zhangna111/App-binhai-2020" target="_black">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('/dashboard')}" target="_black">Administrator</a>
                </li>
            </ul>
        </nav>
        <div class="row footer-bottom">
            <div class="col-md-6">Jin ICP No. 16006370</div>
            <div class="col-md-6 copyright text-md-right">© 2020 Zoey Cheung. All rights reserved.</div>
        </div>
    </div>
</footer>