<footer class="page-footer">
    <div class="container">
        <nav class="footer-navigation">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Goods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="promo.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Administrator</a>
                </li>
            </ul>
        </nav>
        <div class="row footer-bottom">
            <div class="col-md-6">Jin ICP No. 16006370</div>
            <div class="col-md-6 copyright text-md-right">© 2020 Zoey Cheung. All rights reserved.</div>
        </div>
    </div>
</footer>