<div class="head-line"></div>
    <header class="page-header">
        <div class="container">
            <!-- Image and text -->
            <nav class="navbar  navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-grav logo"></i>
                    <strong>E-commerce</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('/')}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('/goods')}">Goods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/zhangna111/App-binhai-2020" target="_black">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('/dashboard')}" target="_black">Administrator Login</a>
                        </li>
                    </ul>
                    <div class="nav-login">
                        {if session('?nickname')}
                        {:session('nickname')} | <a href="{:url('/logout')}">Login Out</a>
                        {else}
                        <a href="{:url('/login')}">Login In</a> | <a href="{:url('/register')}">Register</a>
                        {/if}
                    </div>
                </div>
            </nav>
        </div>
    </header>