<!--
 * @Description: 
 * @version: V 1.0
 * @Author: Zoey Cheung
 * @Date: 2020-07-26 14:30:47
 * @LastEditors: Zoey Cheung
 * @LastEditTime: 2020-07-26 14:32:02
--> 
{layout name="public/admin_layout" /}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">{$title}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{:url('/dashboard')}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{$title}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                Contents here
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->