<!--
 * @Description: 
 * @version: V 1.0
 * @Author: Zoey Cheung
 * @Date: 2020-07-23 18:50:50
 * @LastEditors: Zoey Cheung
 * @LastEditTime: 2020-07-25 23:07:22
-->
{layout name="public/admin_layout" /}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">{$title}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{:url('/dashboard')}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{$title}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr class="text-center">
                                        <th>No.</th>
                                        <th>Goods SN</th>
                                        <th>Goods Name</th>
                                        <th>Origin Price</th>
                                        <th>Discount Price</th>
                                        <th>Discount Percentage</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="list_goods" id="vo" key="k"}
                                    <tr class="text-center">
                                        <td>#{$k|format='%02d'}</td>
                                        <td><a href="/goods/{$vo.id}" target="_blake">{$vo.goods_sn}</a></td>
                                        <td class="text-left">
                                            <h2 class="table-avatar">
                                                <a href="/goods/{$vo.id}" class="avatar avatar-sm mr-2"><img
                                                        class="avatar-img" src="__IMG__/goods/{$vo.thumb_img}"
                                                        alt="User Image"></a>
                                                <a href="/goods/{$vo.id}">{$vo.goods_name}</a>
                                            </h2>
                                        </td>
                                        <td class="text-right">${$vo.origin_price}</td>
                                        <td class="text-right">${$vo.goods_price}</td>
                                        <td>
                                            {if $vo.percentage}
                                            {$vo.percentage} %
                                            {else}
                                            -
                                            {/if}
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">

                                                <a class="btn btn-sm bg-success-light mr-2" href="goods/{$vo.id}/edit">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-sm bg-danger-light" href="javascript:;"
                                                    onclick="goods_del(this,'{$vo.id}')">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function goods_del(obj, id) {

        // alert(id);
        layer.confirm('确认要删除吗？', function (index) {

            $.ajax({

                type: 'DELETE',

                url: "{:url('/dashboard/goods')}",

                data: {
                    'id': id
                },

                dataType: 'json',

                success: function (data) {

                    // $(obj).parents("tr").remove();
                    window.location.reload();

                    layer.msg('已删除!', {
                        icon: 1,
                        time: 1000
                    });

                },

                error: function (data) {

                    console.log(data.msg);

                },

            });

        });
    }
</script>