<!--
 * @Description: 
 * @version: V 1.0
 * @Author: Zoey Cheung
 * @Date: 2020-07-23 18:50:50
 * @LastEditors: Zoey Cheung
 * @LastEditTime: 2020-07-26 11:16:34
-->
{layout name="public/admin_layout" /}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">{$title}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{:url('/dashboard')}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{$title}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr class="text-center">
                                        <th>No.</th>
                                        <th>Goods SN</th>
                                        <th>Goods Name</th>
                                        <th>Origin Price</th>
                                        <th>Discount Price</th>
                                        <th>Discount Percentage</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="list_goods" id="vo" key="k"}
                                    <tr class="text-center">
                                        <td>#{$k|format='%02d'}</td>
                                        <td><a href="{:url('/goods/'.$vo.id)}" target="_blake">{$vo.goods_sn}</a></td>
                                        <td class="text-left">
                                            <h2 class="table-avatar">
                                                <a href="{:url('/goods/'.$vo.id)}" class="avatar avatar-sm mr-2"><img
                                                        class="avatar-img" src="__IMG__/goods/{$vo.thumb_img}"
                                                        alt="User Image"></a>
                                                <a href="{:url('/goods/'.$vo.id)}">{$vo.goods_name}</a>
                                            </h2>
                                        </td>
                                        <td class="text-right">${$vo.origin_price}</td>
                                        <td class="text-right">${$vo.goods_price}</td>
                                        <td>
                                            {if $vo.percentage}
                                            {$vo.percentage} %
                                            {else}
                                            -
                                            {/if}
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <button class="btn btn-sm bg-success-light mr-2 btn-edit"
                                                    data-goods-id="{$vo.id}">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </button>
                                                <form action="/dashboard/goods/{$vo.id}" method="post"
                                                    class="d-inline">
                                                    <input type="hidden" name="_method" value="delete">
                                                    <button class="btn btn-sm bg-danger-light btn-delete">
                                                        <i class="fe fe-trash"></i> Delete
                                                    </button>
                                                </form>



                                                <!-- <a class="btn btn-sm bg-success-light mr-2  btn-edit"
                                                    href="goods/{$vo.id}/edit" data-goods-id="{$vo.id}">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-sm bg-danger-light  btn-delete" href="javascript:;"
                                                    data-goods-id="{$vo.id}">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a> -->
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        // 商品编辑按钮
        $('.btn-edit').click(function () {
            console.log($(this).attr('data-goods-id'));
        });

        // 表单提交，删除
        $('.btn-delete').click(function () {
            return confirm('确定要删除么？');
        });

        // ajax 删除（推荐）
        // $('.btn-delete').click(function () {
        //     var id = $(this).attr('data-goods-id');

        //     layer.confirm('确认要删除吗？', function (index) {

        //         $.ajax({
        //             type: 'DELETE',
        //             url: "{:url('/dashboard/goods')}",
        //             data: {
        //                 'id': id
        //             },
        //             dataType: 'json',
        //             success: function (data) {
        //                 window.location.reload();
        //                 layer.msg('已删除!', {
        //                     icon: 1,
        //                     time: 1000
        //                 });
        //             },
        //             error: function (data) {
        //                 console.log(data.msg);
        //             },
        //         });
        //     });
        // });

    });
</script>