<div class="page-wrap single shop">
    <div class="shop-categories-nav">
        <nav class="container" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/goods">Goods</a></li>
                <li class="breadcrumb-item active" aria-current="page">{$goods.goods_name}</li>
            </ol>
        </nav>
    </div>
    <section class="section-single-product product">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product-thumb">
                        <span class="onsale">-25%</span>
                        <div class="product-gallery">
                            <div id="js-product-big" class="product-gallery__big">
                                <img src="__IMG__/goods/05_home_page_001.jpg" alt="">
                            </div>
                            <div id="js-product-nav" class="row product-gallery-thumbs">
                                <div class="col-sm-3 product-gallery-thumbs__item active"
                                    data-large-src="__IMG__/goods/05_home_page_001.jpg">
                                    <img src="__IMG__/goods/05_home_page_001.jpg" alt="">
                                </div>
                                <div class="col-sm-3 product-gallery-thumbs__item"
                                    data-large-src="__IMG__/goods/product-single-big-3.jpg">
                                    <img src="__IMG__/goods/05_home_page_004.jpg" alt="">
                                </div>
                                <div class="col-sm-3 product-gallery-thumbs__item"
                                    data-large-src="__IMG__/goods/product-single-big-4.jpg">
                                    <img src="__IMG__/goods/05_home_page_005.jpg" alt="">
                                </div>
                                <div class="col-sm-3 product-gallery-thumbs__item"
                                    data-large-src="__IMG__/goods/product-single-big-5.jpg">
                                    <img src="__IMG__/goods/05_home_page_006.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-summary summary col-lg-7">
                    <h1 class="h2 product-title">dutch grey bag</h1>
                    <div class="price">
                        <ins><span class="amount">$33.00</span></ins>
                        <del><span class="amount">$44.00</span></del>
                    </div>
                    <form action="/" class="cart-form">
                        <div>
                            <label for="quantity">Qty:</label>
                            <select id="quantity">
                                <option value="1" data-select2-id="5">1</option>
                                <option value="2" data-select2-id="8">2</option>
                                <option value="3" data-select2-id="9">3</option>
                            </select>
                        </div>
                    </form>
                    <a href="cart.html" class="btn btn-primary btn-lg add_to_cart_button">Add to cart</a>
                    <div class="product-summary-featured">
                        <div class="row">
                            <div class="col-md-4 product-featured-item">
                                <div class="icon-box icon-box-left icon-box-circle">
                                    <div class="icon-box__icon"><i class="fa fa-shopping-basket"></i>
                                    </div>
                                    <div class="icon-box__title">Free shipping</div>
                                </div>
                            </div>
                            <div class="col-md-4 product-featured-item">
                                <div class="icon-box icon-box-left icon-box-circle">
                                    <div class="icon-box__icon"><i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="icon-box__title">100% secure</div>
                                </div>
                            </div>
                            <div class="col-md-4 product-featured-item">
                                <div class="icon-box icon-box-left icon-box-circle">
                                    <div class="icon-box__icon"><i class="fa fa-retweet"></i>
                                    </div>
                                    <div class="icon-box__title">30 day refund</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description-block">
                        <h3 class="description-title">Description</h3>
                        <div class="product-description text-content">
                            <p>Dutch Bag crafts high quality tees and accessories that are comfortable,
                                stylish, and imbued with the laid back spirit of Taffle. Comfortably holds
                                your sneakers and your laptop in addition to a plethora of other
                                necessities, while keeping everything organized and well protected.
                            </p>
                            <p><strong>Material:</strong>
                                Body — 100% cotton trims / other — 100% polyurethane.</p>
                            <p><strong>Care:</strong>
                                Wipe clean with a damp sponge, do not dry clean, do not iron</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-featured-products">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="h3 section-title-heading">Other items you may like</h2>
            </div>
            <ul class="products featured-products row">
                <li class="product col-md-3">
                    <div class="product-thumb">
                        <span class="onsale">-30%</span>
                        <a href="single-product.html" class="product-thumb__link">
                            <img src="__IMG__/goods/01_home_page_005.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-title"><a href="single-product.html">Cogen warm lamp</a></div>
                    <div class="price">
                        <ins><span class="amount">$56.00</span></ins>
                        <del><span class="amount">$73.00</span></del>
                    </div>
                </li>
                <li class="product col-md-3">
                    <div class="product-thumb">
                        <a href="single-product.html" class="product-thumb__link">
                            <img src="__IMG__/goods/01_home_page_006.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-title"><a href="single-product.html">Dutch grey bag</a></div>
                    <div class="price">
                        <span class="amount">$33.00</span>
                    </div>
                </li>
                <li class="product col-md-3">
                    <div class="product-thumb">
                        <a href="single-product.html" class="product-thumb__link">
                            <img src="__IMG__/goods/01_home_page_007.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-title"><a href="single-product.html">Wood tablet deck</a></div>
                    <div class="price">
                        <span class="amount">$30.00</span>
                    </div>
                </li>
                <li class="product col-md-3">
                    <div class="product-thumb">
                        <a href="single-product.html" class="product-thumb__link">
                            <img src="__IMG__/goods/01_home_page_008.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-title"><a href="single-product.html">Roniq watch</a></div>
                    <div class="price">
                        <span class="amount">$128.00</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>