<!--
 * @Description: 
 * @version: V 1.0
 * @Author: Zoey Cheung
 * @Date: 2020-07-19 12:28:12
 * @LastEditors: Zoey Cheung
 * @LastEditTime: 2020-07-25 18:03:19
-->
{layout name="public/layout" /}
<div class="page-wrap archive shop">
    <div class="shop-categories-nav">
        <nav class="container" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Goods</li>
            </ol>
        </nav>
    </div>
    <div class="page-content">
        <main class="main-content">
            <div class="container">
                <ul class="row products">
                    {foreach $list_goods as $key => $vo}
                    <li class="col-md-3 product">
                        <div class="product-thumb">
                            {if $vo.percentage > 0}
                            <span class="onsale">-30%</span>
                            {/if}
                            <a href="goods/{$vo.id}" class="product-thumb__link">
                                <img src="__IMG__/goods/{$vo.thumb_img}" alt="">
                            </a>
                        </div>
                        <div class="product-title"><a href="goods/{$vo.id}">{$vo.goods_name}</a></div>
                        <div class="price">
                            <ins><span class="amount">${$vo.goods_price}</span></ins>
                            {if $vo.percentage > 0}
                            <del><span class="amount">${$vo.origin_price}</span></del>
                            {/if}
                        </div>
                    </li>
                    {/foreach}
                </ul>
                <nav class="shop-pagination text-center">
                    {$list_goods|raw}
                </nav>
            </div>
        </main>
    </div>
</div>