    <div class="page-wrap archive shop">
        <div class="shop-categories-nav">
            <nav class="container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Goods</li>
                </ol>
            </nav>
        </div>
        <div class="page-content">
            <main class="main-content">
                <div class="container">
                    <ul class="row products">
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <span class="onsale">-30%</span>
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_001.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Touchless bottle</a></div>
                            <div class="price">
                                <ins><span class="amount">$15.00</span></ins>
                                <del><span class="amount">$178.00</span></del>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_002.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Coffee machine</a></div>
                            <div class="price">
                                <span class="amount">$178.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/01_home_page_007.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Wood tablet deck</a></div>
                            <div class="price">
                                <span class="amount">$25.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_004.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Stone carpet</a></div>
                            <div class="price">
                                <span class="amount">$34.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_005.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">poly knife</a></div>
                            <div class="price">
                                <span class="amount">$8.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/01_home_page_006.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Dutch grey bag</a></div>
                            <div class="price">
                                <span class="amount">$33.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_007.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Monaco Set lamp</a></div>
                            <div class="price">
                                <span class="amount">$19.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_008.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Cosmo ice bottle</a></div>
                            <div class="price">
                                <span class="amount">$27.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/01_home_page_005.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Cogen warm lamp</a></div>
                            <div class="price">
                                <span class="amount">$56.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_010.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">green Card pen</a></div>
                            <div class="price">
                                <span class="amount">$12.00</span>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <span class="onsale">-25%</span>
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_011.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">Confetti lamp</a></div>
                            <div class="price">
                                <ins><span class="amount">$45.00</span></ins>
                                <del><span class="amount">$60.00</span></del>
                            </div>
                        </li>
                        <li class="col-md-3 product">
                            <div class="product-thumb">
                                <a href="single-product.html" class="product-thumb__link">
                                    <img src="__IMG__/goods/02_catalogue_page_012.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-title"><a href="single-product.html">hop tablet cover</a></div>
                            <div class="price">
                                <span class="amount">$20.00</span>
                            </div>
                        </li>
                    </ul>
                    <nav class="shop-pagination text-center">
                        <ul class="pagination justify-content-center">

                            <li class="active"><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#">04</a></li>
                            <li><a href="#">05</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">28</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">Next <i class="fa fa-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
    </div>