<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Maritime Website Training 2020 by Zoey Cheung">
	<meta name="keywords" content="Website,CSS,HTML,JS,PHP">
	<title>E-commerce Login</title>
	<link rel="shortcut icon" href="__IMG__/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__CSS__/font-awesome.min.css">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/main.css">
</head>

<body>

	<!-- Main Wrapper -->
	<div class="login-body">
		<div class="login-wrapper">
			<div class="container">
				<div class="login-box">
					<div class="login-left">
						<i class="fa fa-grav logo"></i>
						<h2>E-commerce Login</h2>
					</div>
					<div class="login-right">
						<div class="login-right-wrap">
							<h1>Login</h1>
							<p class="account-subtitle">Access to my account</p>

							<!-- Form -->
							<form action="/login" method="POST">
								{:token_field()}
								<div class="form-group">
									<input class="form-control" name="username" type="text" placeholder="Phone">
								</div>
								<div class="form-group">
									<input class="form-control" name="password" type="password" placeholder="Password">
								</div>
								<div class="form-group verification-code">
									<input class="form-control" name="verification_code" type="text"
										placeholder="Verification code">
									{:captcha_img()}
								</div>
								<div class="form-group">
									<button class="btn btn-block" type="submit">Login</button>
								</div>
							</form>
							<!-- /Form -->

							<div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a>
							</div>
							<div class="login-or">
								<span class="or-line"></span>
								<span class="span-or">or</span>
							</div>

							<!-- Social Login -->
							<div class="social-login">
								<span>Login with</span>
								<a href="#" class="wechat"><i class="fa fa-wechat"></i></a>
								<a href="#" class="qq"><i class="fa fa-qq"></i></a>
							</div>
							<!-- /Social Login -->

							<div class="text-center dont-have">Don’t have an account? <a
									href="register.html">Register</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Main Wrapper -->

</body>

</html>