<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Maritime Website Training 2020 by Zoey Cheung">
	<meta name="keywords" content="Website,CSS,HTML,JS,PHP">
	<title>E-commerce Register</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper login-body">
		<div class="login-wrapper">
			<div class="container">
				<div class="login-box">
					<div class="login-left">
						<i class="fa fa-grav logo"></i>
						<h2>E-commerce Register</h2>
					</div>
					<div class="login-right">
						<div class="login-right-wrap">
							<h1>Register</h1>
							<p class="account-subtitle">Register a personal account</p>

							<!-- Form -->
							<form action="login.html">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Name">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Phone">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Password">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Confirm Password">
								</div>
								<div class="form-group mb-0">
									<button class="btn btn-primary btn-block" type="submit">Register</button>
								</div>
							</form>
							<!-- /Form -->

							<div class="login-or">
								<span class="or-line"></span>
								<span class="span-or">or</span>
							</div>

							<!-- Social Login -->
							<div class="social-login">
								<span>Register with</span>
								<a href="#" class="wechat"><i class="fa fa-wechat"></i></a>
								<a href="#" class="qq"><i class="fa fa-qq"></i></a>
							</div>
							<!-- /Social Login -->

							<div class="text-center dont-have">Already have an account? <a href="login.html">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>